/*import fonts from google font */
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');
:root{
    --primary-color:#5db2eb;
    --border:#2b303218;
    --text-color:#bb1c1f;
    --light-gray:#545d61a1;
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
    --color-purple: #5133AB;
    --color-red:#AC193D;
    --color-orange:#DC572E;
    --color-green:#096b09;
    --color-blue:#2672EC;
}
.primary-color{
    color:var(--primary-color)
}

.bg-primary-color
{
    background-color:var(--primary-color);   
}

.text-color
{
    color:var(--text-color);
}

.font-roboto{
    font-family:var(--roboto);
}

.currency-label
{
    padding-top:30px;
    padding-right:15px;
}
.btn
{
    border-radius:5px;
    border-color: black;
}
/* header*/
header{
    background-color:var(--primary-color);
    font-family:var(--roboto);
    margin-bottom:10px;
}

header.site-title
{
    font-family:var(--gugi);
    background-image:linear-gradient(to left,#ff9933,#ffffff,#138808);
    background-clip: var(--text-color);
}

.dropdown-toggle
{
    font-size:1em;
}

.dropdown-item
{
    font-size:1em;
}

.header-links a{
    font-size:1.1em;
    text-decoration: none;
    color:white;
}

.navbar-nav
{
    padding:0.8em 0em;
    margin-top:2px;
}

.navbar-nav .nav-link
{
    font-size:1.2em;
    color:rgb(17, 28, 184) !important;
}

.navbar-nav .nav-item .nav-link
{
    padding:0 0.6em
}

.payment-dropdown .btn
{
    border-radius:10px;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
}

.payment-dropdown .dropdown-menu
{
    width:250px;
    border-radius:10px;
    border-color: black;
}

.delivery-rules
{
    margin-left: auto;
    margin-right: auto;
}
.radio-option
{
    background-color:lightblue;
    margin-left:auto;
    margin-right: auto;
}

.radio-option:hover
{
    background-color:orange;
}
.dropdown:hover>.dropdown-menu
{
    display: block;
    background-color:var(--primary-color);
    color: white;
}

.dropdown >.dropdown-toggle
{
    border-radius: 15px;
}
.navbar-nav .dropdown-menu >
{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
::-webkit-input-placeholder
{
    text-align: center;
}

input[type="text"]
{
    border-radius:10px;
}

.carousel-inner
{
    width:100%;
    height:500px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px ;
    margin-bottom: auto;
}

.position-top
{
    position: absolute;
    top:45%;
}

.product{
    margin-bottom:5px;
}

.product-part{
    margin:0px;
    border:1px solid #DDDDDD;
    background-color: #fff;
    padding-bottom: 10px;
}

.img-section{
    padding: 0px;
}

.product-title h1{
    margin:0px;
    color:#4C4C4C;
    font-size:23px;
    padding: 5px 0px;
}
.product-description{
    padding: 3px 15px;
}
.product-description p{
    color:#848484;
}
.product-cart p{
    font-size:20px;
    color:#4C4C4C;
}
.product-add-cart a{
    border-radius:2px;
    font-size: 11px;
    
}

.footer
{
    margin-left:650px !important;
    display: block;
}


.tile
{  
      width: 100%;
      display: inline-block;
      box-sizing: border-box;
      background: #fff;		
      padding: 20px;
      margin-bottom: 10px;
      margin-left:10px;
      margin-right:10px;
      margin-top:10px;
}

.tile-content
{
    font-size: medium;
    color: white;
}

.tile-content:hover
{
    color: white;
    text-decoration: underline;
}
.tile-purple
{
    background-color:var(--color-purple);
}
.tile-orange
{
    background-color:var(--color-orange);
}
.tile-yellow
{
    background-color: rgb(250, 233, 3);
}
.tile-green
{
    background-color:var(--color-green)
}
.tile-blue
{
    background-color:var(--color-blue)
}
.tile-pink
{
    background-color:rgb(230, 107, 148)
}
.tile-aqua
{
    background-color: aqua;
}
.tile-crimson
{
    background-color: crimson;
}
.tile-darkblue
{
    background-color: rgb(3, 20, 97);
}
.tile-lime
{
    background-color: lime;
}
.tile-brown
{
    background-color:rgb(110, 45, 7);
}
.tile-darkorange
{
    background-color: darkorange;
}
